
  @import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

  @font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/codropsicons/codropsicons.woff') format('woff'),
      url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
      url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  }

  body {
  background: #fff;
  color: #74777b;
  font-weight: 500;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  margin: 0 auto;
}

 .bar{
    /* fill: steelblue; */
  }

  .bar:hover{
    fill: brown;
  }

  .series_line{
    opacity: 0.2;
    pointer-events:none;
  }

  .season_line{
    fill: black;
    opacity: 0.15;
    pointer-events: none;
  }

  .axis {
    font: 10px sans-serif;
    background: ;
  }

  .x-axis {
    font: 9px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }



  /*.tooltip {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 55px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,0.3);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  }*/

  .tooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Trigger text */

.tooltip-item {
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 10px;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  /*width: 530px;*/
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #fff;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tooltip-effect-1 .tooltip-content {
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}



/* Tooltip content*/

.tooltip-content img {
  position: relative;
  height: 200px;
  display: block;
  float: left;
  padding: 10px;
  object-fit: contain;
}

.tooltip-text {
  font-family: "Verdana", "Arial", sans-serif;
  line-height: 1.35;
  display: block;
  color: #333;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 6px;
}

/* INIZIO SERIES TOOLTIP */
.series {
  width: 530px;
}

.series-number {
  font-size: 14px;
}

.series-name {
  /*font-weight: bold;*/
  font-size: 15px;
  margin-bottom: 10px;
}

.padding-left {
  margin-left: 10px;
}


.series-info {
  padding-top: 5px;
  padding-left: 10px;
}

.series-summary {
  padding-top: 5px;
}

.series-avg-wh {
  padding-top: 10px;
  position: absolute;
  top: 185px;
  left: 155px;
  font-size: 13px;
}
/* FINE SERIES TOOLTIP */


/* INIZIO SEASON TOOLTIP*/
.season {
  width: 300px;
  height: 100px;
}

.season-info {
  padding-left: 10px;
  position: absolute;
  top: 50px;
  left: 0;
}

.season-avg-wh {
  padding-top: 10px;
  position: absolute;
  top: 70px;
  left: 0px;
  font-size: 13px;
  padding-left: 10px;
}


/* FINE SEASON TOOLTIP */


/* INIZIO EPISODE TOOLTIP */
.episode {
  width: 350px;
}

.episode-wh {
  padding-top: 10px;
  position: absolute;
  top: 185px;
  left: 155px;
  font-size: 13px;
}

.episode-number {
  font-size: 14px;
}

.episode-title {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.episode-info {
  padding-top: 5px;
}

.episode-summary {
  padding-top: 5px;
}
/* FINE EPISODE TOOLTIP */


.tooltip-effect-5 .tooltip-text {
  padding: 1.4em;
}

.tooltip-text a {
  font-weight: bold;
}

.dummy {
  text-align: left;
  margin: 0 auto;
  font-weight: 300;
}

.dummy-text {
  font-size: 1.65em;
}

.title-text {
  text-align: center;
  margin-top: 20px;
}

.title-text h1 {
  font-size: 2.50em;
}

.chart-container {
    /*text-align: center;
    margin-top: 5%;*/
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    text-align: center;
  }

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

/* INIZIO INTERACTION MENU */
.interaction-menu {
  font-size: 0.7em;
  text-align: left;
  margin-top: 10px;
  height: 30px;
  background-color: white;
  border: 1px solid #DDD8D7;
  min-width: 570px;
}

.interaction-menu > input {
  margin-left: 10px;
  margin-bottom: 1px 
}

.interaction-menu > span {
  font: 300 14px/1.7 'Open Sans', sans-serif;
}

#data-label {
  padding-left: 7px;
  padding-bottom: 10px;
}

.collapsible {
  background-color: white;
  color: white;
  cursor: pointer;
  padding-top: 5px;
  height: 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  float: right;
}

.collapsible:before {
  content: "";
}

.collapsible:after {
  content: '\002B';
  color: grey;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.noBottomBorder {
  border-bottom: 0.3em solid white;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 1%;
}

.container div:not(.toggle) {
    width:100%;
}

.container p {
  margin: 0;
}

.container .content {
  position: relative;
  /*display: none;*/
  box-shadow: 0 3px 2px -1px rgba(117,115,117,0.59);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  font: 300 14px/1.7 'Open Sans', sans-serif;
  border: 1px solid #DDD8D7;
  margin-left: -1px;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 7px;
  /*height: 250px;*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 330px;
}

/*@media only screen and (max-width: 1012px) {
  .container .content {
    height: 260px;
    -webkit-transition: height 0.2s; 
    transition: height 0.2s;
  }
}*/

.filter-panel {
  width: 45% !important;
  height: 100%;
  display: inline-block;
  /*padding-left: 7px;*/
  padding-left: 4%;
  /*background-color: lightgreen;*/
  border-right: 1px solid #DDD8D7;
}

.order-panel {
  position: absolute;
  width: 45% !important;
  height: 100%;
  display: inline-block;
  /*padding-left: 7px;*/
  padding-left: 5%;
  /*background-color: orange;*/
  padding-bottom: 20px;
}

.filter-panel-title {
  text-transform: uppercase;
  font-size: 13px;
  margin-left: -25px !important;
}

.order-panel-title {
  text-transform: uppercase;
  font-size: 13px;
  margin-left: -35px !important;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  width: 90%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#ordering-separator {
  margin-left: -5px;
}

.filter-opt {
  font-size: 12px;
}

.filter-opt > label {
  cursor: default !important;
}

.order-opt {
  font-size: 12px;
}

.left-order-panel {
  width: 45% !important;
  display: inline-block;

  /*background-color: grey;*/
}

.right-order-panel {
  width: 45% !important;
  display: inline-block;
  /*background-color: lightblue;*/
}

.left-filter-panel {
  width: 45% !important;
  display: inline-block;

  /*background-color: grey;*/
}

.right-filter-panel {
  width: 45% !important;
  display: inline-block;
  /*background-color: lightblue;*/
}


/* FINE INTERACTION MENU */

.form-radio
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 5px;
  height: 18px;
  width: 18px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before
{
   position: absolute;
   font: 13px/1 'Open Sans', sans-serif;
   left: 5px;
   top: 1px;
   content: '\02143';
   transform: rotate(40deg);
}
.form-radio:hover
{
  background-color: #f7f7f7;
}
.form-radio:checked
{
  background-color: #f1f1f1;
}

label
{
     font: 300 14px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 

/* MULTI RANGE SLIDER */
.irs--flat .irs-bar {
  background-color: dodgerblue !important;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background-color: dodgerblue !important;
}

.irs--flat .irs-handle>i:first-child {
  background-color: #2078b4 !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
  border-top-color: #2078b4 !important;
}

.irs--flat {
  width: 80%;
  margin: 0 auto;
}

.year-range-container {
  padding-top: 10px;
  padding-bottom: 5px;
}

.wh-range-container {
  padding-top: 10px;
}

.form-checkbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 5px;
  height: 18px;
  width: 18px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
.form-checkbox:checked::before
{
   position: absolute;
   font: 13px/1 'Open Sans', sans-serif;
   left: 5px;
   top: 1px;
   content: '\02143';
   transform: rotate(40deg);
}
.form-checkbox:hover
{
  background-color: #f7f7f7;
}
.form-checkbox:checked
{
  background-color: #f1f1f1;
}


.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#svgChart {
  display: block;
  margin: auto;
}

.svg-y-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

a {
  text-decoration: none;
  opacity: .6;
  padding: 60px;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1.4em;
}

a:hover {
  opacity: 1;
}

#container-switch {
  width: 160px;
  height: 36px;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  background: dodgerblue;
  color: white;
  clip-path: inset(0 50% 0 0);
  transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}







